html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  background-image: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  background-image: url("/images/pattern-circles.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-position-y: 20px;
  padding-bottom: 2rem;
  color: #858fad;
}

.title h2 {
  font-size: 1.3rem;
  color: #293356;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.title p {
  font-size: 0.85rem;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 1.3rem;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #10d5c2;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #a5f3eb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #858fad;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #a5f3eb;
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 18px;
  background-color: #10d5c2;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 25px 45px rgba(16, 213, 194, 0.5);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #858fad;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #858fad;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #cdd7ee;
}

input[type=range]:focus::-ms-fill-upper {
  background: #858fad;
}

.pricingComponent {
  width: 80vw;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.25);
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.pricingComponent h4, .pricingComponent h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricingComponent .dollarMonth {
  color: #293356;
}

.pricingComponent .dollarMonth span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #858fad;
}

.pricingComponent .pageViews {
  color: #858fad;
  letter-spacing: 0.1em;
}

.billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #cdd7ee;
}

.billing p {
  font-size: 0.85em;
  color: #858fad;
}

.billing p span {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  color: #ff8c66;
  background: #feece7;
  border-radius: 0.5rem;
}

#billingSwitch {
  opacity: 0;
}

.billingSlider {
  position: relative;
  display: block;
  width: 2.7em;
  height: 1.5em;
  top: 0.5rem;
  left: -0.5rem;
  cursor: pointer;
  border-radius: 1.5em;
  -webkit-transition: 350ms;
  transition: 350ms;
  background: #cdd7ee;
}

.billingSlider::before {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  top: 0.25em;
  left: 0.25em;
  border-radius: 50%;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  background-color: white;
}

input:checked + .billingSlider::before {
  left: 1.25em;
}

.features ul {
  margin-left: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.features li {
  font-size: 0.8rem;
  color: #858fad;
  padding: 0.5rem;
}

.features svg {
  margin-right: 0.75rem;
}

.cta {
  font-weight: 800;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #293356;
  color: #cdd7ee;
}
/*# sourceMappingURL=style.css.map */